.workout__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.workout__title-container {
  display: flex;
  width: 100%;
  padding: var(--spacing-4);
  justify-content: space-between;
  align-items: center;
  /* padding: var(--spacing-12); */
  background-color: rgb(239, 68, 68);
  & .workout__title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-primary);
    text-shadow: 0 2px 4px #0000004d;
  }
}

.workout__container-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: var(--spacing-6) var(--spacing-4);
  gap: 20px;
}

.workout__card {
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  background: var(--background-opacity);
  box-shadow: 0 4px 6px -1px #0000001a;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
}
.workout__card:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-lg);
}
.workout__card-header {
  padding: var(--spacing-4);
  border-bottom: 1px solid var(--border);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  background-color: var(--surface);
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .workout__card-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-primary);
  }
}

.workout__card-body {
  padding: var(--spacing-4);
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .exercise__name-container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    flex-direction: column;

    & .exercise__name {
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-primary);
    }
  }
}

.exercise__input {
  width: fit-content;
}

.exercise__detail-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.detail-item {
  display: flex;
  flex-direction: column;
  max-width: 5rem;
  gap: 10px;
}

.detail-item__title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-primary);
}

.detail-item__input {
  max-width: 4rem;
}

.btn-card {
  border-radius: var(--radius);
  border: 1px solid var(--border);
  padding: var(--spacing-2);
  outline: none;
  color: var(--text-contrast);
  font-weight: 500;
}
.btn-card::placeholder {
  color: var(--text-contrast);
}

.workout__card-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  & .card-note {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary);
  }

  & .card-note-input {
  }
}
