.custom-button {
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.4s ease;
  border: none;
  background: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-shrink: 0;
}

.custom-button__content {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

/** Sizes */
.custom-button.small {
  padding: 8px 16px;
  font-size: 12px;
}
.custom-button.mediun {
  padding: 12px 24px;
  font-size: 16px;
}
.custom-button.large {
  padding: 16px 32px;
  font-size: 20px;
}

/** Colors */

.custom-button.default {
  background-color: var(--default);
  color: var(--text-primary);
}

.custom-button.primary {
  background-color: #007bff;
  color: white;
}
.custom-button.secondary {
  background-color: #6c757d;
  color: white;
}
.custom-button.danger {
  background-color: #dc3545;
  color: white;
}
.custom-button.neutral {
  background-color: #e0e0e0;
  color: black;
}
.custom-button.success {
  background-color: #28a745;
  color: white;
}

/** Appearance */

/* default */
.custom-button.solid.default {
  background-color: var(--warning);
  color: var(--text-primary);
}
.custom-button.outline.default {
  background-color: transparent;
  color: var(--text-primary);
  border: 2px solid var(--default);
}
.custom-button.ghost.default {
  background-color: transparent;
  color: var(--text-primary);
  border: none;
}

/* Primary */
.custom-button.solid.primary {
  background-color: #007bff;
  color: white;
}

.custom-button.outline.primary {
  background-color: transparent;
  color: #007bff;
  border: 2px solid #007bff;
}

.custom-button.ghost.primary {
  background-color: transparent;
  color: #007bff;
  border: none;
}

/* Secondary */
.custom-button.solid.secondary {
  background-color: #6c757d;
  color: white;
}

.custom-button.outline.secondary {
  background-color: transparent;
  color: #6c757d;
  border: 2px solid #6c757d;
}

.custom-button.ghost.secondary {
  background-color: transparent;
  color: #6c757d;
  border: none;
}

/* Danger */

.custom-button.solid.danger {
  background-color: #dc3545;
  color: white;
}
.custom-button.outline.danger {
  background-color: transparent;
  color: #dc3545;
  border: 2px solid #dc3545;
}
.custom-button.ghost.danger {
  background-color: transparent;
  color: #dc3545;
  border: none;
}
/* Neutral */
.custom-button.solid.neutral {
  background-color: #e0e0e0;
  color: black;
}
.custom-button.outline.neutral {
  background-color: transparent;
  color: #e0e0e0;
  border: 2px solid #e0e0e0;
}
.custom-button.ghost.neutral {
  background-color: transparent;
  color: #e0e0e0;
  border: none;
}

/* Succcess */
.custom-button.solid.success {
  background-color: #28a745;
  color: white;
}
.custom-button.outline.success {
  background-color: transparent;
  color: #28a745;
  border: 2px solid #28a745;
}
.custom-button.ghost.success {
  background-color: transparent;
  color: #28a745;
  border: none;
}

/** States */

.custom-button:hover:not(:disabled) {
  opacity: 0.9;
  /* color: var(--line-color); */
  background: var(--line-color) /*  !important */;
}

.custom-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
